In [2]:
import pandas as pd
import numpy as np

In [3]:
industries = ["Information",
               "Financial services",
               "Business services",
               "Educational services",
               "Manufacturing",
               "Public administration",
               "Health care and social assistance",
               "Wholesale and retail trade",
               "Transportation and warehousing"]

In [4]:
activities_I= ["work", "personal", "household chores", "exercise", "sleep"]

In [9]:
activities_granular = pd.read_csv("activities.csv")

In [11]:
activities_granular.head()

          Activities Activities_granular
0   Household chores      Do the laundry
1  Personal activity         Take a bath
2           Exercise            Exercise
3   Household chores        Wash the car
4  Personal activity         Get dressed

In [13]:
age_group = ["younger than 18","18-25",
                "26-35",
                "36-40",
                "41-50",
                "51-60",
                "older than 60"]

In [21]:
province = ["Ontario",
               "Quebec",
               "Nova Scotia",
               "New Brunswick",
               "Manitoba",
               "British Columbia",
               "Prince Edward Island",
               "Saskatchewan",
               "Alberta",  "Newfoundland and Labrador"]

In [14]:
gender = ["female", "male", "prefer not to say", "other"]

In [19]:
generate_ids = [i for i in range(1,10000)]

In [23]:
job_level = ["Junior Associate",
               "Senior Associate",
               "Manager",
               "Director",
               "Managing Director",
               "C-Level"]