In [1]:
import pandas as pd
import numpy as np

In [2]:
industries = ["Information",
               "Financial services",
               "Business services",
               "Educational services",
               "Manufacturing",
               "Public administration",
               "Health care and social assistance",
               "Wholesale and retail trade",
               "Transportation and warehousing"]

In [3]:
activities_I= ["work", "personal", "household chores", "exercise", "sleep"]

In [4]:
activities_granular = pd.read_csv("activities.csv")

In [5]:
activities_granular.head()

          Activities Activities_granular
0   Household chores      Do the laundry
1  Personal activity         Take a bath
2           Exercise            Exercise
3   Household chores        Wash the car
4  Personal activity         Get dressed

In [6]:
age_group = ["18-25",
                "26-35",
                "36-40",
                "41-50",
                "51-60",
                "older than 60"]

In [7]:
province = ["Ontario",
               "Quebec",
               "Nova Scotia",
               "New Brunswick",
               "Manitoba",
               "British Columbia",
               "Prince Edward Island",
               "Saskatchewan",
               "Alberta",  "Newfoundland and Labrador"]

In [8]:
gender = ["female", "male", "prefer not to say", "other"]

In [9]:
generate_ids = [i for i in range(1,2001)]

In [10]:
ids = np.array(generate_ids)

In [11]:
ids.shape

(2000,)

In [12]:
job_level = ["Junior Associate",
               "Senior Associate",
               "Manager",
               "Director",
               "Managing Director",
               "C-Level"]

In [13]:
user_jobs = np.random.choice(job_level, 2000)
user_gender = np.random.choice(gender, 2000)
user_province = np.random.choice(province, 2000)
user_industry = np.random.choice(industries, 2000)
user_age = np.random.choice(age_group, 2000)

In [14]:
user_age

array(['41-50', '51-60', '36-40', ..., '18-25', '36-40', '51-60'],
      dtype='<U13')

In [15]:
user_table = pd.DataFrame({"User_ID": ids, "Age" : user_age, "Gender" : user_gender, "Province": user_province, "Industry" : user_industry, "Job_level" : user_jobs})

In [16]:
user_table.head()

,User_ID,Age,Gender,Province,Industry,Job_level
0,1,41-50,prefer not to say,New Brunswick,Financial services,Manager
1,2,51-60,male,Saskatchewan,Educational services,Manager
2,3,36-40,prefer not to say,Manitoba,Transportation and warehousing,Junior Associate
3,4,36-40,other,Quebec,Public administration,C-Level
4,5,26-35,other,Ontario,Business services,Manager

In [17]:
import datetime

In [18]:
hours_sleep = []
for i in range(5,14):
    hours_sleep.append(i)

In [19]:
hours_sleep

[5, 6, 7, 8, 9, 10, 11, 12, 13]

In [20]:
np.average(hours_sleep)

9.0

In [21]:
np.std(hours_sleep)

2.581988897471611

In [22]:
date_rng = pd.date_range(start='1/1/2020', end='4/27/2020', freq='H')

In [23]:
date_rng.shape

(2809,)

In [24]:
daily= pd.DataFrame({"date": date_rng})

In [25]:
days_list = []
total_ids = []
for id in ids:
    for day in daily.iloc[:,0]:
        days_list.append(day)
        total_ids.append(id)

In [26]:
activities_table = pd.DataFrame({"ids": total_ids, "date" : days_list})

In [32]:
activities_table.loc[activities_table["ids"] == 10]

       ids                date
25281   10 2020-01-01 00:00:00
25282   10 2020-01-01 01:00:00
25283   10 2020-01-01 02:00:00
25284   10 2020-01-01 03:00:00
25285   10 2020-01-01 04:00:00
25286   10 2020-01-01 05:00:00
25287   10 2020-01-01 06:00:00
25288   10 2020-01-01 07:00:00
25289   10 2020-01-01 08:00:00
25290   10 2020-01-01 09:00:00
25291   10 2020-01-01 10:00:00
25292   10 2020-01-01 11:00:00
25293   10 2020-01-01 12:00:00
25294   10 2020-01-01 13:00:00
25295   10 2020-01-01 14:00:00
25296   10 2020-01-01 15:00:00
25297   10 2020-01-01 16:00:00
25298   10 2020-01-01 17:00:00
25299   10 2020-01-01 18:00:00
25300   10 2020-01-01 19:00:00
25301   10 2020-01-01 20:00:00
25302   10 2020-01-01 21:00:00
25303   10 2020-01-01 22:00:00
25304   10 2020-01-01 23:00:00
25305   10 2020-01-02 00:00:00
25306   10 2020-01-02 01:00:00
25307   10 2020-01-02 02:00:00
25308   10 2020-01-02 03:00:00
25309   10 2020-01-02 04:00:00
25310   10 2020-01-02 05:00:00
...    ...                 ...
28060   10 2020-04-25 19:00:00
28061   10 2020-04-25 20:00:00
28062   10 2020-04-25 21:00:00
28063   10 2020-04-25 22:00:00
28064   10 2020-04-25 23:00:00
28065   10 2020-04-26 00:00:00
28066   10 2020-04-26 01:00:00
28067   10 2020-04-26 02:00:00
28068   10 2020-04-26 03:00:00
28069   10 2020-04-26 04:00:00
28070   10 2020-04-26 05:00:00
28071   10 2020-04-26 06:00:00
28072   10 2020-04-26 07:00:00
28073   10 2020-04-26 08:00:00
28074   10 2020-04-26 09:00:00
28075   10 2020-04-26 10:00:00
28076   10 2020-04-26 11:00:00
28077   10 2020-04-26 12:00:00
28078   10 2020-04-26 13:00:00
28079   10 2020-04-26 14:00:00
28080   10 2020-04-26 15:00:00
28081   10 2020-04-26 16:00:00
28082   10 2020-04-26 17:00:00
28083   10 2020-04-26 18:00:00
28084   10 2020-04-26 19:00:00
28085   10 2020-04-26 20:00:00
28086   10 2020-04-26 21:00:00
28087   10 2020-04-26 22:00:00
28088   10 2020-04-26 23:00:00
28089   10 2020-04-27 00:00:00

[2809 rows x 2 columns]