In [1]:
import pandas as pd
import numpy as np

In [2]:
industries = ["Information",
               "Financial services",
               "Business services",
               "Educational services",
               "Manufacturing",
               "Public administration",
               "Health care and social assistance",
               "Wholesale and retail trade",
               "Transportation and warehousing"]

In [3]:
activities_I= ["work", "personal", "household chores", "exercise", "sleep"]

In [4]:
activities_granular = pd.read_csv("activities.csv")

In [5]:
activities_granular.head()

          Activities Activities_granular
0   Household chores      Do the laundry
1  Personal activity         Take a bath
2           Exercise            Exercise
3   Household chores        Wash the car
4  Personal activity         Get dressed

In [6]:
age_group = ["18-25",
                "26-35",
                "36-40",
                "41-50",
                "51-60",
                "older than 60"]

In [7]:
province = ["Ontario",
               "Quebec",
               "Nova Scotia",
               "New Brunswick",
               "Manitoba",
               "British Columbia",
               "Prince Edward Island",
               "Saskatchewan",
               "Alberta",  "Newfoundland and Labrador"]

In [8]:
gender = ["female", "male", "prefer not to say", "other"]

In [9]:
generate_ids = [i for i in range(1,10001)]

In [10]:
ids = np.array(generate_ids)

In [11]:
ids.shape

(10000,)

In [12]:
job_level = ["Junior Associate",
               "Senior Associate",
               "Manager",
               "Director",
               "Managing Director",
               "C-Level"]

In [13]:
user_jobs = np.random.choice(job_level, 10000)
user_gender = np.random.choice(gender, 10000)
user_province = np.random.choice(province, 10000)
user_industry = np.random.choice(industries, 10000)
user_age = np.random.choice(age_group, 10000)

In [14]:
user_age

array(['18-25', '51-60', '18-25', ..., '26-35', '18-25', '36-40'],
      dtype='<U13')

In [18]:
user_table = pd.DataFrame({"User_ID": ids, "Age" : user_age, "Gender" : user_gender, "Province": user_province, "Industry" : user_industry, "Job_level" : user_jobs})

In [19]:
user_table.head()

,User_ID,Age,Gender,Province,Industry,Job_level
0,1,18-25,other,Prince Edward Island,Financial services,Managing Director
1,2,51-60,prefer not to say,Manitoba,Health care and social assistance,Manager
2,3,18-25,male,Nova Scotia,Educational services,Managing Director
3,4,41-50,prefer not to say,Manitoba,Manufacturing,C-Level
4,5,26-35,female,New Brunswick,Public administration,C-Level

In [20]:
import datetime

In [32]:
hours_sleep = []
for i in range(5,14):
    hours_sleep.append(i)

In [33]:
hours_sleep

[5, 6, 7, 8, 9, 10, 11, 12, 13]

In [35]:
np.average(hours_sleep)

9.0

In [36]:
np.std(hours_sleep)

2.581988897471611

In [48]:
import pandas as pd
from datetime import datetime
import numpy as np
date_rng = pd.date_range(start='1/1/2020', end='27/04/2020', freq='H')

In [51]:
date_rng

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 01:00:00',
               '2020-01-01 02:00:00', '2020-01-01 03:00:00',
               '2020-01-01 04:00:00', '2020-01-01 05:00:00',
               '2020-01-01 06:00:00', '2020-01-01 07:00:00',
               '2020-01-01 08:00:00', '2020-01-01 09:00:00',
               ...
               '2020-04-26 15:00:00', '2020-04-26 16:00:00',
               '2020-04-26 17:00:00', '2020-04-26 18:00:00',
               '2020-04-26 19:00:00', '2020-04-26 20:00:00',
               '2020-04-26 21:00:00', '2020-04-26 22:00:00',
               '2020-04-26 23:00:00', '2020-04-27 00:00:00'],
              dtype='datetime64[ns]', length=2809, freq='H')